$black: #000000;
$white: #ffffff;
$main: #e7eaed;
$red: #dc3545;
$darkGrey: #616161;
$midGreen:#00979c;

$mainTextColour: #2c3e50;

$redBorder: #880e4f;
$greenBorder:#558b2f;

$forwardButtonEnabled: #c2185b;
$forwardButtonDisabled: #f2d7d5;
$backButton:#a5d6a7;

$hover: #007bff;
