@import "../../assets/styles/colours";
@import "../../assets/styles/variables";

.sectionHeight {
  height: 120px;
}

.textbox {
  margin-left: 14px;
  padding-left: 5px;
  height: 50px;
  width: calc(100% - 14px);
  /*width: 98%;*/
  background-color: $main;
  border: none;
  border-radius: $boxRadius;
  /*font-size:1.2em;*/
  /*&:active {
    outline: none;


  border-radius: $boxRadius;
  border: 1px solid $redBorder;
}*/
  &:focus {
    border-radius: $boxRadius;
    border: 1px solid $redBorder;
  }
}


/*input[type=text] {
  background-color: $main;
  border: none;
  border-radius: $boxRadius;
}*/





.clearPaddingLeft {
  padding-left: 0;
}
